@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body, html{
  background-image: url('../img/header2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

header .header-title{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-family: 'Josefin Sans', sans-serif;
}

.page-body-1{
  position: relative;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
