
# font http://blog.thiagobelem.net/aprendendo-urls-amigaveis

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^/?$ /index.php [NC,L]
  RewriteRule ^home/?$ /index.php [NC,L]
  RewriteRule ^cadastro/?$ /pages/cadastro.php [NC,L]
  RewriteRule ^teste/?$ /pages/teste.php [NC,L]

</IfModule>
