@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans|Metamorphous');

*{
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  overflow: hidden;
}

.background{
  background-image: url('../recursos/images/BG4.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.input-group .voltar{
  position: relative;
  display: block;
  transform: scale(1.5);
  border: none;
  width: 36px;
  height: 36px;
  color: black;
  cursor: pointer;
}

.input-group .voltar:hover{
  transform: scale(1.8);
  color: black;
}

.login-conteiner{
  position: fixed;
  width: 40vw;
  right: 0;
  top: 0;
  right: 0;
  float: right;
  height: 100vh;
  background-color: whitesmoke;
}


.form-login{
  position: relative;
  display: block;
  color: black;
  width: 75%;
  height: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-login label{
  display: block;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
}

.input-group{
  display: block;
  position: relative;
  margin-top: 3em;
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
}

#passIcon{
  cursor: pointer;
}

.input-group div i{
  transform: scale(1.2);
  top: 30px;
  opacity: .6;
  right: 0;
  margin: 10px;
  position: absolute;
}
.input-group div input{
  display: block;
  position: relative;
  text-align: left;
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  border: none;
  border-bottom: 2px gray solid;
  color: black;
  background-color: rgba(0,0,0,0.05);
  transition: all 500ms ease;
  font-family: 'PT Serif', serif;
}

.input-group input:focus{
  border-color: black;
  background-color: rgba(0,0,0,0.3);
}

.input-group a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-top: 0.3em;
  transition: .4 all;
  text-transform: none;
  letter-spacing: 1px;
}

.input-group a:hover{
  color: rgba(0,0,0,0.3);
}

.btn-login{
  display: block;
  position: relative;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  border-radius: 4px;
  border: 1px black solid;
  color: black;
  box-sizing: border-box;
  background-color: transparent;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
}

.btn-login:hover {
  border: none;
  color: whitesmoke;
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}
.btn-login:hover .line-1 {
  -webkit-animation: move1 2000ms infinite ease;
          animation: move1 2000ms infinite ease;
}
.btn-login:hover .line-2 {
  -webkit-animation: move2 2000ms infinite ease;
          animation: move2 2000ms infinite ease;
}
.btn-login:hover .line-3 {
  -webkit-animation: move3 2000ms infinite ease;
          animation: move3 2000ms infinite ease;
}
.btn-login:hover .line-4 {
  -webkit-animation: move4 2000ms infinite ease;
          animation: move4 2000ms infinite ease;
}
.line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: rgb(36, 36, 36);
  left: 0;
  bottom: 0;
}
.line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: whitesmoke;
  left: 0;
  top: 0;
}
.line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: whitesmoke;
  right: 0;
  top: 0;
}
.line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: whitesmoke;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}


@media screen and (max-width: 720px) {
  .login-conteiner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.58);
  }

  .form-login{
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
  }

  .input-group{
    align-items: center;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 0.8em;
    position: relative;
  }

  .input-group div input{
    width: 100%;
    position: relative;
  }

  .input-group .voltar{
    position: relative;
    width: 25px;
    border-radius: 5px;
    margin: 20px;
    left: -5%;
  }

  .voltar i{
    transform: scale(1.2);
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .input-group div i{
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .btn-login{
    position: relative;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    height: 50px;
  }
}
