
# font http://blog.thiagobelem.net/aprendendo-urls-amigaveis

<IfModule mod_rewrite.c>
#  Options All -Indexes

  RewriteEngine On
  RewriteRule ^/?$ /index.php [NC,L]
  RewriteRule ^home/?$ /index.php [NC,L]
  RewriteRule ^cadastrarCliente/?$ /pages/cadastroCliente.php [NC,L]
  RewriteRule ^cadastrarPrestador/?$ /pages/cadastroPrestador.php [NC,L]
  RewriteRule ^novoServico/?$ /pages/cadastroServico.php [NC,L]
  RewriteRule ^teste/?$ /pages/teste.php [NC,L]
  RewriteRule ^pessoas/?$ /pages/pessoas.php [NC,L]
  RewriteRule ^perfil/?$ /pages/perfil.php [NC,L]

  #  ErrorDocument 401 /errorpages/401.html
  #  ErrorDocument 403 /errorpages/403.html
  #  ErrorDocument 500 /errorpages/500.html
  ErrorDocument 404 /errorpages/404.html

#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule ^(.*?)$ access-route.php

</IfModule>
